<div class="wrapper">
    <div class="title">
        <div class="logo">
            <img style="height: 65px;" src="https://i.ibb.co/XZykHM3/logo.png">
            <!-- <img style="height: 18px;" src="https://app.useanvil.com/img/email-logo-black.png" /> -->
        </div>
        <div class="date_wrapper">
            <div class="color_title border_top_curved">FECHA</div>
            <div class="date">
                <table class="date_table">
                    <tr>
                        <td>DD</td>
                        <td>MM</td>
                        <td>AA</td>
                    </tr>
                    <tr>
                        <td>{{day}}</td>
                        <td>{{month}}</td>
                        <td>{{year}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="number">
            <div class="color_title border_top_curved">RECIBO</div>
            <div style="height: 15px;"></div>
            <div class="receipt_number">{{receipt_number}}</div>
        </div>
    </div>
    <div class="data">
        <table>
            <tr>
                <th>NOMBRE:</th>
                <td class="curved">{{name}}</td>
            </tr>
            <tr>
                <th>APTO:</th>
                <td>{{apmt}}</td>
            </tr>
            <tr>
                <th>MES:</th>
                <td>{{month_name}}</td>
            </tr>
        </table>
     </div>
    <div class="table">
        <table>
            <tr>
                <th>CONCEPTO PAGO</th>
                <th>FECHA</th>
                <th>VALOR</th>
            </tr>
            <tr>
                <td>ADMINISTRACION</td>
                <td>{{date}}</td>
                <td>{{value}}</td>
            </tr>
            <tr>
                <td>MULTAS</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>ALQUILER TERRAZA</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>DEPOSITO POR ALQUILER</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>DEPOSITO TRASTEO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>OTROS</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="pay_type">
                <td></td>
                <td class="color_title">METODO PAGO</td>
                <td>{{type}}</td>
            </tr>
            <tr>
                <td></td>
                <td class="color_title">TOTAL</td>
                <td>{{value}}</td>
            </tr>
        </table>
    </div>
</div>